body {
  background-image: url(https://github.com/codefellows/seattle-code-201d92/blob/main/class-08/lab-b/image-assets/fish.jpg?raw=true);
  color: black;
  font-weight: 900;
  text-decoration: overline;
  
  }

  main {
    background-color: tomato;
  }

#table {
  border: 1px solid black;
  
}

td {
  border: 1px solid black;
}

/* Index */

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: salmon;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: rgb(248, 68, 68);
}
.navimg {
  height: 30px;
  width: 100px;
  margin: auto;
}
.fampic {
  width: 400px;
  height: 250px;
}
.locations {
  display: inline-block;
  background-color: salmon;
}
